= form_for(@live_stream_series) do |f|
  = f.error_messages

  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :starts_at
    %br
    = f.datetime_select :starts_at
  .field
    = f.label :ends_at
    %br
    = f.datetime_select :ends_at
  .field
    = f.label :purchase_url
    %br
    = f.text_field :purchase_url
  .field
    = f.label :band
    %br
    =collection_select :live_stream_series, :band_id, Band.all, :id, :name
  .actions
    = f.submit

