%h1="#{@band.name} - Live Stream Series"
-for series in @live_stream_series
  %h2= series.title
  -for stream in series.streamapi_streams
    %ul
      %li
        ="Stream - #{stream.title}"
      %li
        ="Begins - #{stream.starts_at}"
      %li
        ="Ends - #{stream.ends_at}"
          