%h1 New live_stream_series

= form_for(:live_stream_series, @live_stream_series, :url => { :action => "create" }) do |f|
  = f.error_messages

  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :starts_at
    %br
    = f.datetime_select :starts_at
  .field
    = f.label :ends_at
    %br
    = f.datetime_select :ends_at
  .field
    = f.label :band
    %br
    =collection_select :live_stream_series, :band_id, Band.all, :id, :name
  .actions
    = f.submit
    
= link_to 'Back', :controller => 'live_stream_series', :action => 'index'
