<h1>Listing short_urls</h1>

<table>
  <tr>
    <th>Destination</th>
    <th>Key</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @short_urls.each do |short_url| %>
  <tr>
    <td><%= short_url.destination %></td>
    <td><%= short_url.key %></td>
    <td><%= link_to 'Show', short_url %></td>
    <td><%= link_to 'Edit', edit_short_url_path(short_url) %></td>
    <td><%= link_to 'Destroy', short_url, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Short url', new_short_url_path %>
