%h1 
	Purchased Video Streaming Service With
	= @band.name
		
%p 
	Welcome to our live video streaming service!  You have been given permission to view video streams in the following category:
	%br
	= @lss.title
	%br
	From 
	= @lss.starts_at.strftime("%A %B %d, %Y") 
	to 
	= @lss.ends_at.strftime("%A %B %d, %Y") 

%p
	Before you can view the video streams, you need to confirm your email account with our service and provide some user info.
	%br
	Please visit this link to confirm your account:
	%br
	= link_to @confirmation, @confirmation

%p 
	After account confirmation, you can view the scheduled live video streams by visiting the 
	- if @band.access_schedule_url.nil? || @band.access_schedule_url == ''
		band's website.
	-else
		= link_to 'Stream Viewer', @band.access_schedule_url