#footer
  #footer-links
    %ul.footer-links-section
      %li.footer-section-title
        MyBandStock
      %li
        = link_to 'Blog', 'http://blog.mybandstock.com'
      %li
        = link_to 'FAQ', faq_path
      %li
        = link_to 'About', about_path
    %ul.footer-links-section
      %li.footer-section-title
        Developers
      %li
        = link_to 'Embed codes', developers_path
    %ul.footer-links-section
      %li.footer-section-title
        Bands
      -# __commented__
        %li
          = link_to 'Engage your fans', about
      %li
        = link_to 'Manage your band', '/band_home'

  #securities
    I understand that The Non-Negotiable, Non-Transferable "stock" or "shares" purchased through MyBandStock have no monetary value and are NOT securities under United States Code Title 15, Chapter 2B &sect; 78c or any other applicable law
    -# = link_to "Privacy Policy", "http://alpha.mybandstock.com/legal/privacy_policy"
  #copyright
    &copy; 2010 MyStock Enterprises, LLC - All Rights Reserved
    %br
    Questions? Bugs? Need help? 
    =raw js_antispam_email_link("support@MyBandStock.com")
  .clear
