#head_top
  = link_to image_tag('/images/header/mbs_logo.png', :alt => 'MyBandStock'), root_path

#head_bottom
  #logo_float
    = link_to '', root_path, :class => 'navlogo'
  = link_to '', pbands_path(:page => 1), :class => ['nav', 'navbands']
  = link_to '', faq_path, :class => ['nav', 'navfaq']
  = link_to '', about_path, :class => ['nav', 'navabout']
  = link_to '', 'http://blog.mybandstock.com/', :class => ['nav', 'navblog']
  = link_to '', login_path, :class => ['nav', 'navlogin']
  
