#head_top
  = link_to image_tag('/images/header/mbs_logo.gif', :alt => 'MyBandStock'), root_path

#head_bottom
  #logo_float
    = link_to '', root_path, :class => 'nav_logo'
  = link_to '', nil, :class => ['nav', 'navbands_ON']
  = link_to '', nil, :class => ['nav', 'navfaq']
  = link_to '', nil, :class => ['nav', 'navabout']
  = link_to '', 'http://blog.mybandstock.com/', :class => ['nav', 'navblog']
  = link_to '', nil, :class => ['nav', 'navlogin']

