- num_codes_array = [ 10, 25, 100, 200, 300, 400, 500 ]
- num_shares_array = [ 1, 5, 10, 25, 50, 100 ]

= form_for(:share_code_group, :url => { :action => 'create' }) do |f|
  = f.error_messages

  .field
    = f.label :expires_on
    %br
    = f.text_field :expires_on

  .field
    = label_tag 'num_codes', 'Number of share codes to generate:'
    = select_tag( 'num_codes', options_for_select(num_codes_array), :class => 'select')

  .field
    = f.label :share_amount, "Number of shares to be awarded per redeemed code:"
    = select( 'share_code_group', 'share_amount', num_shares_array, :class => 'select')

  .field
    = f.label :live_stream_series_id, "Stream series: [is this field necessary?]"
    = select_tag( 'live_stream_series_id', options_from_collection_for_select(@series_list, :id, :title), :class => 'select')

  .field
    = f.label :label
    %br
    = f.text_field :label

  .field
    = f.label :active
    = f.check_box :active
    .description
      Whether this set of codes is currently allowed. This can be changed later.
  
  -# = hidden_field_tag :band_id, @series_list.band.id

  .actions
    = f.submit 'Generate Codes'

:javascript
  jQuery('#share_code_group_expires_on').datepicker({
    minDate: 0,
    autoSize: true
  });


