  <div class="formbutton">
    <%=
      button_to 'Download', { :controller => 'share_code_groups', :action => 'download', :share_code_group_id => @share_code_group.id, :band_id => @band_id }, :class => 'formbutton'
    %>
  </div>

<p>
  <b>Num share codes:</b>
  <%= @share_code_group.share_codes_count %>
</p>

<p>
  <b>Share amount:</b>
  <%= @share_code_group.share_amount %>
</p>

<p>
  <b>Active:</b>
  <%= @share_code_group.active %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @share_code_group.expires_on %>
</p>

<p>
  <b>Expired</b>
  <%= (@share_code_group.expires_on < Time.now) %>
</p>

<p>
  <b>Share Codes</b>
  <ul>
    <% @share_code_group.share_codes.each do |a_share_code| %>
    <li><%= a_share_code.key %></li>
    <%end%>
  </ul>
</p>



<%= link_to 'Edit', edit_share_code_group_path(@share_code_group) %> |
<%= link_to 'Back', share_code_groups_path %>
