  <div class="formbutton">
    <%=
      button_to 'Download', { :controller => 'share_code_groups', :action => 'download', :share_code_group_id => @share_code_group.id, :band_id => @share_code_group.band_id }, :class => 'formbutton'
    %>
  </div>

<p>
  <b>Num share codes:</b>
  <%= @share_code_group.share_codes_count %>
</p>

<p>
  <b>Share amount:</b>
  <%= @share_code_group.share_amount %>
</p>

<p>
  <b>Active:</b>
  <%= @share_code_group.active %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @share_code_group.expires_on %>
</p>

<p>
  <b>Expired</b>
  <%= (@share_code_group.expires_on < Time.now) %>
</p>

<p>
  <b>Share Codes</b>
  <ul>
    <% @share_code_group.share_codes.order('redeemed DESC, updated_at DESC').each do |a_share_code| %>
    
    <li>
      <span style="color: <%= (a_share_code.redeemed?) ? 'red' : 'green' %>"><%= a_share_code.key %></span>
      <%= (a_share_code.redeemed?) ? ' - ' + a_share_code.user.email : '' %>
      <%= (a_share_code.redeemed?) ? ' - ' + output_datetime(a_share_code.updated_at) + " (#{time_ago_in_words(a_share_code.updated_at)} ago)" : '' %>
    </li>
    <%end%>
  </ul>
</p>



<%= link_to 'Edit', edit_share_code_group_path(@share_code_group) %> |
<%= link_to 'Back', share_code_groups_path %>
