#new-reward
  #content_login_bg
    #login_wrap.lightboxpad
      %h1= "Add New Reward to #{@level.name}"
      .content_onethird_bg
        .left_third
          .dark_bar_large
            = render :partial => 'bands/navigation', :locals => { :band => @level.band }
            .clear
        .clear
        = render :partial => "mini_list", :locals => {:rewards => @level.rewards}              
      = render :partial => "form"
      .clear

