<p>
  <b>Can view:</b>
  <%= @streamapi_stream_permission.can_view %>
</p>

<p>
  <b>Can chat:</b>
  <%= @streamapi_stream_permission.can_chat %>
</p>

<p>
  <b>Stream quality level:</b>
  <%= @streamapi_stream_permission.stream_quality_level %>
</p>


<%= link_to 'Edit', edit_streamapi_stream_permission_path(@streamapi_stream_permission) %> |
<%= link_to 'Back', streamapi_stream_permissions_path %>
