-unless params[:lightbox].nil?
  =hidden_field_tag 'lightbox', 'true'
-if params[:redemption_redirect]
  =hidden_field_tag 'redemption_redirect', params[:redemption_redirect]
.newform
  .fieldrow
    .fieldleft
      %p * Denotes a required field.

  =render 'field_required', :f => f, :field => :email,  :label => 'Email'
  =render 'field_required', :f => f, :field => :email_confirmation,  :label => 'Confirm Email'

  .fieldrow
    .fieldleft
      .field.condense4
        %fieldset
          .fieldname.required.condense2
            .fieldnametop
              = f.label :password, 'password*'
            .fieldnamebottom
          .fieldbox.required.condense2
            = f.password_field :password, :value => ''
      - if @user.status != 'pending' && (params[:action] == 'edit' || params[:action] == 'update')
        .desc
          Leave this unchanged if you wish to keep your current password.
    .fielderror.condense
      - if @user.errors[:password]
        - for e in @user.errors[:password]
          %p
            = '- '+e.to_s

  =render 'field_required', :f => f, :field => :first_name,  :label => 'First name'
  =render 'field_required', :f => f, :field => :zipcode,  :label => 'ZIP Code'
          
  -if (params[:lightbox] && params[:lightbox] == false) || params[:lightbox].nil?
    .fieldrow
      .fieldleft      
        .field.condense4
          .fieldname
            .fieldnametop
              = f.label :receive_email_announcements, 'announcements'
            .fieldnamebottom
          .fieldbox
            %select{:name => "user[receive_email_announcements]"}
              - if @user.nil? || @user.receive_email_announcements.nil? || @user.receive_email_announcements == true
                %option{:value => "1", :selected => true}Yes
                %option No
              - else
                %option{:value => "1"}Yes
                %option{:selected => true} No

          .description
            Do you want to be contacted via email by MyBandStock regarding various announcements including new features, band updates etc? (We will not distribute your email to 3rd parties)
      .fielderror
        - if @user.errors[:receive_email_announcements]
          - for e in @user.errors[:receive_email_announcements]
            %p
              = '- '+e.to_s

  -if (params[:lightbox] && params[:lightbox] == false) || params[:lightbox].nil?
    .fieldrow
      .fieldleft      
        .field.condense4
          .fieldname
            .fieldnametop
              = f.label :receive_email_reminders, 'reminders'
            .fieldnamebottom
          .fieldbox
            %select{:name => "user[receive_email_reminders]"}
              - if @user.nil? || @user.receive_email_reminders.nil? || @user.receive_email_reminders == true
                %option{:value => "1", :selected => true}Yes
                %option No
              - else
                %option{:value => "1"}Yes
                %option{:selected => true} No

          .description
            Do you want to be reminded via email by MyBandStock when you have upcoming events like live video streams? (We will not distribute your email to 3rd parties)
      .fielderror
        - if @user.errors[:receive_email_reminders]
          - for e in @user.errors[:receive_email_reminders]
            %p
              = '- '+e.to_s            
  
    
  -if params[:action] == 'edit' || params[:action] == 'update'
    .fieldrow
      .fieldleft
        .field.condense4
          .fieldname
            .fieldnametop
              = f.label 'twitter'
            .fieldnamebottom
          .fieldbox
            .form_input_text
              -unless @user_twitter_authorized
                Your account is not currently linked to a twitter account.
                %br
                = link_to 'Authorize a Twitter account with MyBandStock', {:controller => 'twitter_api', :action => 'create_session', :redirect_from_twitter => @request_uri}, {:confirm => "Do you wish to proceed?  You will lose any changes you have made on this page."}
              -else
                = image_tag(@twit_user.profile_image_url, :class => 'edit_band_twit_img')
                .auth_twit_text
                  Authorized as:
                  %b
                    = @twit_user.screen_name+' ('+@twit_user.name+')'
                  %br
                  = link_to 'Authorize a different account', {:controller => 'twitter_api', :action => 'create_session', :redirect_from_twitter => @request_uri}, {:confirm => "Do you wish to proceed?  You will lose any changes you have made on this page."}
                  = link_to 'Deauthorize account', {:controller => 'twitter_api', :action => 'deauth'}, {:confirm => "Do you wish to proceed?  You will lose any changes you have made on this page."}
        .desc
          Authorizing your twitter account with MyBandStock allows you to earn shares in your favorite bands by simply retweeting their statuses through MyBandStock's website.
      .fielderror.condense
        - if @user.errors[:twitter_user_id]
          - for e in @user.errors[:twitter_user_id]
            %p
              = '- '+e.to_s

  - if @user && @user.twitter_user
    .fieldrow
      .fieldleft      
        .field.condense4
          .fieldname
            .fieldnametop
              = f.label :twitter_replies, '@replies'
            .fieldnamebottom
          .fieldbox
            %select{:name => "twitter_user[twitter_replies]"}
              - if @user.twitter_user.opt_out_of_messages.nil? || @user.twitter_user.opt_out_of_messages == false
                %option{:value => "1", :selected => true}Yes
                %option{:value => "0"}No
              - else
                %option{:value => "1"}Yes
                %option{:value => "0", :selected => true} No

          .description
            We use twitter to monitor fans supporting their favorite bands. We will sometimes send an @reply to twitter accounts so that we can notify users of our service, and their fan ranking in our system. Choose "Yes" if you would like to keep receiving these notifications.
            

