#content_login_bg
  #login_wrap
    %p * Denotes a required field.
    = form_for(@user) do |f|
      .fieldrow
        .fieldleft
          .field
            %fieldset
              .fieldname.required
                .fieldnametop
                  = f.label :email, 'email*'
                .fieldnamebottom
              .fieldbox.required
                = f.text_field :email
        .fielderror
          - if @user.errors[:email]
            - for e in @user.errors[:email]
              %p
                = '- '+e.to_s
      .fieldrow
        .fieldleft
          .field
            %fieldset
              .fieldname.required
                .fieldnametop
                  = f.label :email_confirmation, 'confirm email*'
                .fieldnamebottom
              .fieldbox.required
                = f.text_field :email_confirmation
        .fielderror
          - if @user.errors[:email_confirmation]
            - for e in @user.errors[:email_confirmation]
              %p
                = '- '+e.to_s  
      .fieldrow
        .fieldleft
          .field
            %fieldset
              .fieldname.required
                .fieldnametop
                  = f.label :password, 'password*'
                .fieldnamebottom
              .fieldbox.required
                = f.password_field :password, :value => ''
          - if @user.status != 'pending'
            .desc
              Leave this unchanged if you wish to keep your current password.
        .fielderror
          - if @user.errors[:password]
            - for e in @user.errors[:password]
              %p
                = '- '+e.to_s                
      .fieldrow
        .fieldleft
          .field
            %fieldset
              .fieldname.required
                .fieldnametop
                  = f.label :first_name, 'first name'
                .fieldnamebottom
              .fieldbox.required
                = f.text_field :first_name
        .fielderror
          - if @user.errors[:first_name]
            - for e in @user.errors[:first_name]
              %p
                = '- '+e.to_s
      .fieldrow
        .fieldleft
          .field
            %fieldset
              .fieldname.required
                .fieldnametop
                  = f.label :zipcode, 'zip code'
                .fieldnamebottom
              .fieldbox.required
                = f.text_field :zipcode
        .fielderror
          - if @user.errors[:zipcode]
            - for e in @user.errors[:zipcode]
              %p
                = '- '+e.to_s
      .fieldrow
        .fieldleft                
          .formbutton
            = f.submit 'SUBMIT'
          -if params[:action] == 'edit'
            .formbutton_nextto
              = button_to 'BACK', :url => session[:last_clean_url]
    .clear
