<%= form_for(@streamapi_stream) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :private_hostid %><br />
    <%= f.text_field :private_hostid %>
  </div>
  <div class="field">
    <%= f.label :public_hostid %><br />
    <%= f.text_field :public_hostid %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :starts_at %><br />
    <%= f.datetime_select :starts_at %>
  </div>
  <div class="field">
    <%= f.label :ends_at %><br />
    <%= f.datetime_select :ends_at %>
  </div>
  <div class="field">
    <%= f.label :layout_path %><br />
    <%= f.text_field :layout_path %>
  </div>
  <div class="field">
    <%= f.label :skin_path %><br />
    <%= f.text_field :skin_path %>
  </div>  
  <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
