:javascript
  jQuery(function() {jQuery("#faq_accordion").accordion({collapsible: true, autoHeight: false});});

.modal_in.video_modals
  .video_left{ :style => 'background-image: url(/images/video.png) no-repeat);' }
    %h2
      = @stream.title
      %span.grey99
        Broadcast
    = output_datetime(@stream.starts_at)
    .embed-container
      -unless flash[:error]
        %embed{:id => 'broadcast-embed', :height=>"#{ @theme.height }", :width=>"#{ @theme.width }", :class => 'streamapi-embed', :wmode=>"", :type=>"application/x-shockwave-flash", :bgcolor=>"#000000", :quality=>"high", :scale=>"noscale", :allowfullscreen=>"true", :allowscriptaccess=>"always", :flashvars=>"siteID=1000008664&layoutPath=#{ @theme.layout_path }&skinPath=#{ @theme.skin_path }&autoRecord=true&publicHostID=#{ @stream.public_hostid }&privateHostID=#{ @stream.private_hostid }&userType=host", :src=>"http://static.streamapi.com/flash/loader.swf?app=custom.swf"}
        .public_private_switch
          .public_button
            = form_tag( {:controller => 'recorded_videos', :action => :set_recording_visibility, :streamapi_stream_id => @stream.id, :public_hostid => @stream.public_hostid}, :remote => true) do
              = hidden_field_tag :public, !@public_recording, :id => 'toggle_recording_visibility_next_value'
              = submit_tag "Make this recording #{ (@public_recording) ? 'private' : 'public' }",
                          :id => 'toggle_recording_visibility',
                          :class => "#{ (@public_recording) ? 'on' : '' }"
          .public_note
            If public, this recording will be available to users after the broadcast.
      -else
        = flash[:error]

  .video_right
    .broadcast_faq_box
      = render :partial => 'broadcast_faq'
    
    
    
    -#
      %h2 
        Troubleshooting
        %span.grey99 FAQ
      #faq_accordion
        .question
          %a{:href=>"#"}Q: I keep trying to click "Allow" but it wont let me. Why?
        .answer
          %p 
            A: This is an error with Flash and your browser.  This usually shows up while using Firefox.  You can try updating Flash to the latest version (
            %a{:href=>"http://get.adobe.com/flashplayer/", :target => "_blank"} Update Flash Player
            ). You can alternatively use a different web browser like Chrome, or Safari.
        .question
          %a{:href=>"#"}Q: I'm trying to broadcast, my camera is hooked up but the screen is black.  How can I fix this?
        .answer
          %p A: Make sure you've clicked "Allow" to give camera and microphone access. If you have and it still doesn't work, click the "Camera Settings" button in the video box, or if you don't see this button, right click on the video box, click "Settings..." and go to the web cam tab. Select the different cameras until your video shows up.  If you are using a mac with a built in iSight camera, choose "USB Video Class Video" from the list.
        .question
          %a{:href=>"#"}Q: Why can't I get my microphone to work?
        .answer
          %p A: Make sure you've clicked "Allow" to give camera and microphone access. If you have and it still doesn't work, click the "Mic Settings" button in the video box, or if you don't see this button, right click on the video box, click "Settings..." and go to the microphone tab. Select different microphones based on your configuration.  You will probably want to use a built in microphone if broadcasting off a laptop and you don't have an external microphone plugged in.
        .question
          %a{:href=>"#"}Q: What is the difference between Public and Private recordings?
        .answer
          %p A: As soon as you enter this broadcast room and allow microphone and camera access, the broadcast starts being recorded so that users who miss the live stream will be able to view it later.  If you click "Make this recording public", then users will be able to see the recording 24 hours after the stream's start time.  If you keep it private, the video taken in the session will not be publicly visible.
  
  
  