<script type="text/javascript">
$(function() {

	$('.lightbox a').fancybox({
		'transitionIn'	:	'fade',
		'transitionOut'	:	'fade',
		'overlayOpacity' : 0.4,
		'overlayColor' : 'black'
	}); // Select all links in object with gallery ID
	
});
</script>

<h1>Listing streamapi_streams</h1>

<table>
  <tr>
    <th>Private hostid</th>
    <th>Public hostid</th>
    <th>Title</th>
    <th>Starts At</th>
    <th>Ends At</th>
    <th>Layout Path</th>
    <th>Skin Path</th>
    
    <th>Public</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @streamapi_streams.each do |streamapi_stream| %>
  <tr>
    <td><%= streamapi_stream.private_hostid %></td>
    <td><%= streamapi_stream.public_hostid %></td>
    <td><%= streamapi_stream.title %></td>
    <td><%= streamapi_stream.starts_at %></td>
    <td><%= streamapi_stream.ends_at %></td>
    <td><%= streamapi_stream.layout_path %></td>
    <td><%= streamapi_stream.skin_path %></td>    
    <td><%= streamapi_stream.public %></td>
    <td><%= link_to 'Show', streamapi_stream %></td>
    <td><%= link_to 'Edit', edit_streamapi_stream_path(streamapi_stream) %></td>
    <td><%= link_to 'Destroy', streamapi_stream, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><div class ="lightbox"><%= link_to 'Broadcast', :action => 'broadcast', :id => streamapi_stream.id %></div></td>
    <td><div class ="lightbox"><%= link_to 'View', :action => 'view', :id =>streamapi_stream.id %></div></td>
    
  </tr>
<% end %>
</table>

<br />




<%= link_to 'New Streamapi stream', new_streamapi_stream_path %>
