<h1>Listing streamapi_streams</h1>

<table>
  <tr>
    <th>Private hostid</th>
    <th>Public hostid</th>
    <th>Title</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Quality</th>
    <th>Public</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @streamapi_streams.each do |streamapi_stream| %>
  <tr>
    <td><%= streamapi_stream.private_hostid %></td>
    <td><%= streamapi_stream.public_hostid %></td>
    <td><%= streamapi_stream.title %></td>
    <td><%= streamapi_stream.start_time %></td>
    <td><%= streamapi_stream.end_time %></td>
    <td><%= streamapi_stream.quality %></td>
    <td><%= streamapi_stream.public %></td>
    <td><%= link_to 'Show', streamapi_stream %></td>
    <td><%= link_to 'Edit', edit_streamapi_stream_path(streamapi_stream) %></td>
    <td><%= link_to 'Destroy', streamapi_stream, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Streamapi stream', new_streamapi_stream_path %>
