.orange_bar
  = @streamapi_stream.title
%p
  %b Title:
  = @streamapi_stream.title

%p
  %b Starts At:
  = @streamapi_stream.starts_at

%p
  %b Ends At:
  = @streamapi_stream.ends_at

%p
  %b Broadcast Theme:
  = @broadcaster_theme.name

%p
  %b Viewer Theme:
  = @viewer_theme.name
  
%p
  %b Public:
  = @streamapi_stream.public
-# __commented__ Private hostid should not be shown to users
  %p
    %b Private hostid:
    = @streamapi_stream.private_hostid

%p
  %b Public hostid:
  = @streamapi_stream.public_hostid



= link_to 'Edit', edit_streamapi_stream_path(@streamapi_stream)
|
= link_to 'Back', streamapi_streams_path
