<p>
  <b>Private hostid:</b>
  <%= @streamapi_stream.private_hostid %>
</p>

<p>
  <b>Public hostid:</b>
  <%= @streamapi_stream.public_hostid %>
</p>

<p>
  <b>Title:</b>
  <%= @streamapi_stream.title %>
</p>

<p>
  <b>Starts At:</b>
  <%= @streamapi_stream.starts_at %>
</p>

<p>
  <b>Ends At:</b>
  <%= @streamapi_stream.ends_at %>
</p>

<p>
  <b>Layout Path:</b>
  <%= @streamapi_stream.layout_path %>
</p>
<p>
  <b>Skin Path:</b>
  <%= @streamapi_stream.skin_path %>
</p>
<p>
  <b>Public:</b>
  <%= @streamapi_stream.public %>
</p>


<%= link_to 'Edit', edit_streamapi_stream_path(@streamapi_stream) %> |
<%= link_to 'Back', streamapi_streams_path %>
