-# We limit the available theme options for simplicity
- available_themes = StreamapiStreamTheme.find(8, 9)
- available_themes[0].name = "16:9, Normal Quality" # no chat
- available_themes[1].name = "16:9, High" # no chat

.maincont
	%h2
		= @streamapi_stream.title
		Stream
		-unless @streamapi_stream.location.nil? || @streamapi_stream.location == ''
			%span.grey99
				|
				= @streamapi_stream.location
	%span.grey99
		= output_datetime(@streamapi_stream.starts_at)
	%br
	%br
	%p
		%b Band:
		= @streamapi_stream.band.name

	%p
		%b Broadcast Theme:
		-if @streamapi_stream.broadcaster_theme.id == 8
			= available_themes[0].name
		-elsif @streamapi_stream.broadcaster_theme.id == 9
			= available_themes[1].name
		-else
			= @streamapi_stream.broadcaster_theme.name
	%p
		%b Viewer Theme:
		-if @streamapi_stream.viewer_theme.id == 8
			= available_themes[0].name
		-elsif @streamapi_stream.viewer_theme.id == 9
			= available_themes[1].name
		-else
			= @streamapi_stream.viewer_theme.name

	%p
		%b Public (If true, the live stream will show up in the public access schedule):
		= @streamapi_stream.public

	%br

	.formbutton_left
		= button_to 'EDIT', edit_streamapi_stream_path(@streamapi_stream)
	.formbutton_left_nextto
		= link_to 'BACK', '/streams/manage'
	.clear
	%br
	%br
	- if @user.can_broadcast_for(@streamapi_stream.band.id)
		= link_to 'Send notification email to all current permission holders', :action => 'email_stream_reminder', :id => @streamapi_stream.id
