#viewer-container
	%h2 Stream Viewer
	%p
		= @stream.title + ':' + @stream.starts_at.strftime("%m/%d/%Y") + ' to ' + @stream.ends_at.strftime("%m/%d/%Y")
	%embed{:height=>"580", :width=>"668", :wmode=>"", :type=>"application/x-shockwave-flash", :bgcolor=>"#000000", :quality=>"high", :scale=>"noscale", :allowfullscreen=>"true", :allowscriptaccess=>"always", :flashvars=>"authField2Label=Password:&siteID=1000008664&layoutPath=#{ @stream.layout_path }&skinPath=#{ @stream.skin_path }&autoRecord=true&publicHostID=#{ @stream.public_hostid }&privateHostID=#{ @stream.private_hostid }&authField1Label=Username:&authType=nameAndPass&userType=204", :src=>"http://static.streamapi.com/flash/loader.swf?app=custom.swf"}


