.modal_in.video_modals
  .video_left{ :style => 'background-image: url(/images/video.png) no-repeat);' }
    %h2
      live
      %span.grey99 stream
    .embed-container
      -unless @not_live
        %embed{ :height=>"#{ @theme.height }", :width=>"#{ @theme.width }", :wmode=>"", :type=>"application/x-shockwave-flash", :bgcolor=>"#000000", :quality=>"high", :scale=>"noscale", :allowfullscreen=>"true", :allowscriptaccess=>"always", |
        :flashvars=>"authField2Label=Password:" + |
        "&siteID=1000008664" + |
        "&layoutPath=#{ @theme.layout_path }" + |
        "&skinPath=#{ @theme.skin_path }" + |
        "&authField1Label=Username:" + |
        "&autoRecord=false" + |
        "&publicHostID=#{ @stream.public_hostid }" + |
        "&authType=key" + |
        "&userType=204" + |
        "&isAutoLogin=true" + |
        "&key=#{ @viewer_key }", |
        :src=>"http://static.streamapi.com/flash/loader.swf?app=custom.swf" }
      -else
        = render :partial => 'not_yet', :locals => { :stream => @stream }
    %h2
      = @stream.title
      %span.grey99
        = @stream.location
  .video_right
    -if @tweets
      %h2
        repost
        %span.grey99
          the band for
          = NUM_SHARES_AWARDED_FOR_RT
          shares!
      = render :partial => 'twitter_api/twitter_box', :locals => { :band_id => @stream.band.id, :tweets => @tweets, :redirect_url => @request_uri }
    -if @theme.has_guest_cam == true
      = link_to 'Camera not working? Check out the FAQ', :controller => 'statics', :action => 'broadcast_faq', :target => '_blank'
  .clear
  .lightbox_welcome
    = render :partial => 'welcome_message', :locals => { :user => @user, :band => @stream.band }

:javascript
  startPinger( '#{ @stream.id }', '#{ @viewer_key }' );


