-# JM - hey, you should cache the country thing, then test it on mbs.com. Dunno what's going on.
#content_login_bg
  #login_wrap
    = form_for(@band) do |f|
      .newform
        .fieldrow
          .fieldleft
            .field
              %fieldset
                .fieldname.required
                  .fieldnametop
                    = f.label :name, 'band name*'
                  .fieldnamebottom
                .fieldbox.required
                  = f.text_field :name
          .fielderror
            - if @band.errors[:name]
              - for e in @band.errors[:name]
                %p
                  = '- '+e.to_s
        .fieldrow
          .fieldleft      
            .field
              .fieldname.required
                .fieldnametop
                  = f.label :short_name, 'short name*'
                .fieldnamebottom
              .fieldbox.required
                = f.text_field :short_name
            .desc
              The short name is used in various places throughout the site. For example, fans will visit your band stage by going to 
              %em
                = ( defined?(SITE_URL) ? SITE_URL : 'http://mybandstock.com' ) + '/shortname.'
              It must be between 3 and 15 characters in length, and consist of only numbers, letters, and underscores. (For example, <em>daft_punk</em>.)
          .fielderror
            - if @band.errors[:short_name]
              - for e in @band.errors[:short_name]
                %p
                  = '- '+e.to_s
        .fieldrow
          .fieldleft      
            .field
              .LARGEfield
                .fieldname
                  .fieldnametop
                    = f.label :bio
                  .fieldnamebottom
                .fieldbox
                  = f.text_area 'bio', { :class => 'textarea' }
          .fielderror
            - if @band.errors[:bio]
              - for e in @band.errors[:bio]
                %p
                  = '- '+e.to_s

        .fieldrow
          .fieldleft      
            .field
              .fieldname
                .fieldnametop
                  = f.label :band_photo, 'Band photo URL'
                .fieldnamebottom
              .fieldbox
                = f.text_field :band_photo
            .desc
              The URL of a photo that you own. This must be within 320px * 320px.
          .fielderror
            - if @band.errors[:band_photo]
              - for e in @band.errors[:band_photo]
                %p
                  = '- '+e.to_s

        .fieldrow
          .fieldleft      
            .field
              .fieldname
                .fieldnametop
                  = f.label :city
                .fieldnamebottom
              .fieldbox
                = f.text_field :city
          .fielderror
            - if @band.errors[:city]
              - for e in @band.errors[:city]
                %p
                  = '- '+e.to_s

        .fieldrow
          .fieldleft      
            .field
              .fieldname.required
                .fieldnametop
                  = f.label :zipcode, 'zip code*'
                .fieldnamebottom      
              .fieldbox.required
                = f.text_field :zipcode
          .fielderror
            - if @band.errors[:zipcode]
              - for e in @band.errors[:zipcode]
                %p
                  = '- '+e.to_s
        .fieldrow
          .fieldleft      
            .field
              .fieldname
                .fieldnametop
                  = f.label :country_id, 'country'
                .fieldnamebottom
              .fieldbox
                = collection_select 'band', 'country_id', Country.all, 'id', 'name', :class => 'select'
          .fielderror
            - if @band.errors[:country_id]
              - for e in @band.errors[:country_id]
                %p
                  = '- '+e.to_s
        .fieldrow
          .fieldleft      
            .field
              .fieldname
                .fieldnametop
                  = f.label :external_css_link, 'css link'
                .fieldnamebottom
              .fieldbox
                = f.text_field :external_css_link
            .desc
              External CSS Link (optional) If you want to customize how the band access schedule and stream viewer look, please create a CSS file and upload it to an external source.  Provide the link here, if no link it provided, it will use a generic looking style developed by us.
          .fielderror
            - if @band.errors[:external_css_link]
              - for e in @band.errors[:external_css_link]
                %p
                  = '- '+e.to_s
        .fieldrow
          .fieldleft      
            .field
              .fieldname
                .fieldnametop
                  = f.label :access_schedule_url, 'live streams url'
                .fieldnamebottom
              .fieldbox
                = f.text_field :access_schedule_url
            .desc
              You can provide a link where a user will be able to go to and watch the live streaming videos.  This will be sent in an email to users who have access to the videos.  If left blank, it will send users to MyBandStock.com to watch them, but you can specify the band's website here instead. In addition, this is where users are instructed to go to redeem their Share Codes.
          .fielderror
            - if @band.errors[:access_schedule_url]
              - for e in @band.errors[:access_schedule_url]
                %p
                  = '- '+e.to_s
        -if params[:action] == 'edit' || params[:action] == 'update'
          .fieldrow
            .fieldleft      
              .field                        
                .fieldname
                  .fieldnametop
                    = f.label 'twitter'
                  .fieldnamebottom
                .fieldbox
                  .form_input_text
                    -unless @band_twitter_authorized 
                      Your band is not currently linked to a twitter account.
                      %br
                      = link_to 'Authorize a Twitter account with MyBandStock', {:controller => 'twitter_api', :action => 'create_session', :auth_band_id => @band.id, :redirect_from_twitter => @request_uri}, {:confirm => "Do you wish to proceed?  You will lose any changes you have made on this page."}
                    -else
                      = image_tag(@twit_band.profile_image_url, :class => 'edit_band_twit_img')
                      .auth_twit_text
                        Authorized as:
                        %b
                          = @twit_band.screen_name+' ('+@twit_band.name+')'
                        %br
                        = link_to 'Authorize a different account', {:controller => 'twitter_api', :action => 'create_session', :auth_band_id => @band.id, :redirect_from_twitter => @request_uri}, {:confirm => "Do you wish to proceed?  You will lose any changes you have made on this page."}
                        = link_to 'Deauthorize account', {:controller => 'twitter_api', :action => 'deauth', :deauth_band_id => @band.id}, {:confirm => "Do you wish to proceed?  You will lose any changes you have made on this page."}                      
              .desc
                Authorizing a band's twitter account allows the band to connect with their fans.  Fans will be able to see the band's most recent tweets and will be offered points to retweet band statuses and help promote the band.
            .fielderror
              - if @band.errors[:twitter_user_id]
                - for e in @band.errors[:twitter_user_id]
                  %p
                    = '- '+e.to_s

        .fieldrow
          .fieldleft      
            .field
              .fieldname
                .fieldnametop
                  = f.label :twitter_username, 'twitter username'
                .fieldnamebottom
              .fieldbox
                = f.text_field :twitter_username
            .desc
              -if params[:action] == 'edit' || params[:action] == 'update'
                Alternatively, we can just use your Twitter username to display your tweets on the Stage. It is recommended that you provide one of these things.
              -else
                Enter your Twitter username to display your tweets on the Stage.
              Using Twitter is an excellent way to engage with your fans and to get them to talk back.
          .fielderror
            - if @band.errors[:twitter_username]
              - for e in @band.errors[:twitter_username]
                %p
                  = '- '+e.to_s

        .fieldrow
          .fieldleft                
            .formbutton
              = f.submit 'SUBMIT'
            -if params[:action] == 'edit'
              .formbutton_nextto
                = button_to 'BACK', :url => session[:last_clean_url]
      .clear




-# __commented__

  = form_for(@band) do |f|
    #form-entry
      %fieldset.basic-info
        %legend 
          %strong basic info
        = error_messages_for :band
        %ul.form-fields
          = render :partial => "form", :locals => { :f=>f }
        =image_submit_tag 'buttons/global/btn-submit.png', :class => 'submit'


  %li 
    =f.label 'name'
    %br
    =f.text_field :name, :class => 'text'

  %li 
    =f.label 'short_name'
    %br  
    =f.text_field :short_name, :class => 'text'
  
  %li  
    =f.label 'bio'
    %br  
    %label.desc A description of your band.  
    %br  
    =f.text_area 'bio', {:cols => 20, :rows => 10, :class => "textarea"}

  %li  
    =f.label 'city'
    %br  
    =f.text_field 'city', :class => 'required'

  %li
    =f.label 'zipcode'
    %br  
    =f.text_field 'zipcode'

  %li
    =f.label :country_id, '* Country'
    %br  
    =collection_select 'band', 'country_id', Country.cached_all, 'id', 'name', :class => 'select'

  %li
    -# =observe_field 'band_country_id', :url => url_for(:controller => 'users', :action => 'state_select', :model => 'band'), :with => 'country_id'
    #state_select
      -# =render :partial=>'common_partials/state_select', :locals => {:states => @states, :model => 'band'}

  %li
    =f.label 'external_css_link'
    %br  
    %label.desc External CSS Link (optional) If you want to customize how the band access schedule and stream viewer look, please create a CSS file and upload it to an external source.  Provide the link here, if no link it provided, it will use a generic looking style developed by us.
    %br  
    =f.text_field 'external_css_link'

  %li
    =f.label 'access_schedule_url'
    %br  
    %label.desc Provide a link where a user will be able to go to and watch the live streaming videos.  This will be sent in an email to users who have access to the videos.  If left blank, it will send users to MyBandStock.com to watch them, but you can specify the band's website here instead.
    %br  
    =f.text_field 'access_schedule_url'  

  %li
    =f.label 'Tether the Band\'s Twitter Account to MyBandStock.'
    %br  
    %label.desc This allows MBS visitors to view the band's tweets and they can help promote the band by re-tweeting band statuses.
    %br
    -unless @band.twitter_user
      = link_to 'Authorize a Twitter account with MyBandStock', :controller => 'twitter_api', :action => 'create_session', :band_id => @band.id, 
    -else
      %p 
        You are already tethered to a Twitter account.  You can change this to tether to a different account if you would like to. 
        = link_to 'Authorize a different Twitter account with MyBandStock', :controller => 'twitter_api', :action => 'create_session', :band_id => @band.id
    
