- current_user = (session[:user_id]) ? User.find(session[:user_id]) : nil
- user_found = false
- num_stockholders = top_ten.count || 10

%p
  Top
  = num_stockholders
  Stockholders
-if top_ten
  -top_ten.each_with_index do |share_total, i|
    - man = share_total.user
    - location = man.display_location

    -if current_user && man && man.email == current_user.email
      - user_found = true
      - class_name = 'highlight'
    -else
      - class_name = ''
    -# Odd/even classname with "highlight" class if the row is of the current user.
    .leaduser{ :class => "#{ (i % 2 == 1) ? 'odd' : 'even' } #{ class_name }" }
      .leadnumber
        = (i+1).to_s
      .leadname
        = man.display_name
        -if false && location
          %span.shareholder_aside
            = "from #{ location }"
      = lightboard_text share_total.net, :digits => 4, :size => 'small'
 
-else
  .top_ten_notice
    This band has no shareholders.
    %br
    = link_to 'You can be the first!', fan_new_suggestions_path(band.name)

