- current_user = (session[:user_id]) ? User.find(session[:user_id]) : nil
- user_found = false

%p Top 10 Shareholders
-if top_ten
  -top_ten.each_with_index do |share_total, i|
    - man = share_total.user
    - location = man.display_location

    -if current_user && man && man.email == current_user.email
      - user_found = true
      - class_name = 'highlight'
    -else
      - class_name = ''
    -# Odd/even classname with "highlight" class if the row is of the current user.
    .leaduser{ :class => "#{ (i % 2 == 1) ? 'odd' : 'even' } #{ class_name }" }
      .leadnumber
        = (i+1).to_s
      .leadname
        = man.display_name
        -if false && location
          %span.shareholder_aside
            = "from #{ location }"
      = lightboard_text share_total.net, :digits => 4, :size => 'small'
  -if !user_found && current_user
    .leaduser.highlight{ :class => "#{ (i % 2 == 1) ? 'odd' : 'even' }" }
      .leadnumber
        = user_rank.to_s + '.'
      .leadname
        = current_user.display_name
        -if false && current_user.display_location
          %span.shareholder_aside
            = "from #{ current_user.display_location }"
      - share_total_row = current_user.share_totals.where(:band_id => band.id).first
      - num_shares = (share_total_row) ? share_total_row.net : 0
      = lightboard_text num_shares, :digits => 4, :size => 'small'
-else
  .top_ten_notice
    This band has no shareholders.
    %br
    = link_to 'You can be the first!', fan_new_suggestions_path(band.name)


-# __commented__
  - current_user = (session[:user_id]) ? User.find(session[:user_id]) : nil
  - user_found = false

  %table.top_ten_shareholders
    %th.orange_bar.top_ten_title{ :colspan => 3 }
      .top_ten_icon 
      TOP TEN SHAREHOLDERS
    -if top_ten
      -top_ten.each_with_index do |share_total, i|
        - man = share_total.user
        - location = man.display_location

        -if current_user && man && man.email == current_user.email
          - user_found = true
          - class_name = 'highlight'
        -else
          - class_name = ''
        -# Odd/even classname with "highlight" class if the row is of the current user.
        %tr{ :class => "#{ (i % 2 == 1) ? 'odd' : 'even' } #{ class_name }" }
          %td.list_number
            = (i+1).to_s + '.'
          %td.shareholder_name
            = man.display_name
            -if location
              .shareholder_aside
                = "from #{ location }"
          %td.share_amount
            = share_total.net
      -if !user_found && current_user
        %tr.highlight.even
          %td.list_number
            = user_rank.to_s + '.'
          %td.shareholder_name
            = current_user.display_name
            -if current_user.display_location
              .shareholder_aside
                = "from #{ current_user.display_location }"
          %td.share_amount
            - share_total_row = current_user.share_totals.where(:band_id => band.id).first
            = (share_total_row) ? share_total_row.net : 0
    -else
      %tr
        %td
          .top_ten_notice
            This band has no shareholders.
            %br
            = link_to 'You can be the first!', fan_new_suggestions_path(band.name)

