<h1>Listing bands</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th>City</th>
    <th>Zipcode</th>
    <th>Band photo</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bands.each do |band| %>
  <tr>
    <td><%= band.name %></td>
    <td><%= band.bio %></td>
    <td><%= band.city %></td>
    <td><%= band.zipcode %></td>
    <td><%= band.band_photo %></td>
    <td><%= band.status %></td>
    <td><%= link_to 'Show', band %></td>
    <td><%= link_to 'Edit', edit_band_path(band) %></td>
    <td><%= link_to 'Destroy', band, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Band', new_band_path %>
