<p>
  <b>Name:</b>
  <%= @band.name %>
</p>

<p>
  <b>Bio:</b>
  <%= @band.bio %>
</p>

<p>
  <b>City:</b>
  <%= @band.city %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @band.zipcode %>
</p>

<p>
  <b>Band photo:</b>
  <%= @band.band_photo %>
</p>

<p>
  <b>Status:</b>
  <%= @band.status %>
</p>


<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
