= stylesheet_link_tag 'band_stage_specific'

.stageheader
  .stagename
    = @band.name
    
.stageunits
  = render :partial => 'social_feed', :locals => { :band => @band, :recent_statuses => @recent_statuses, :twitter_username => @twitter_username, :currently_tweeting => @currently_tweeting, :user => @user, :points_per_retweet => @points_per_retweet}

  = render :partial => 'leaderboard', :locals => { :band => @band, :top_ten => @top_ten, :user_rank => @user_rank }

.stageright
  .buystock
    .sharesleft
      .shareslefttext
        BandStock Left to
        %br
        earn Today:
      .big_lightboard        
        -if @band.earnable_shares_release_amount.blank?
          = lightboard_text 9999999, :digits => 5, :size => 'big'                
        -else
          = lightboard_text @band.earnable_shares_release_amount.to_s, :digits => 5, :size => 'big'                
        
    .buy_bandname
      %a{ :href => buy_stock_url(@band.id, :lightbox => true), :class => 'lightbox', :fbwidth => '880', :fbheight => '300' }
        Buy BandStock in
        = @band.name

  = render :partial => 'bands/next_stream', :locals => { :band => @band, :user => @user }

  = link_to 'ENTER SHARE CODE', redeem_code_url(:lightbox => true), :class => 'share-code-link lightbox'
.stagepadding

  %div{ :style => 'display: none; visibility: hidden;' }
    = render :partial => 'application/site_intro', :locals => { :band => @band }


:javascript
  // Open the new user welcome lightbox if necessary
  jQuery(function() {
    if ( #{ @show_welcome_message ? true : false } ) {
      if (typeof(openWelcomeLightbox) == 'function') {
        // Open on page load
        openWelcomeLightbox();
      }
    }
  });

