= stylesheet_link_tag 'band_stage_specific'

.stageheader
  .stagename
    = @band.name
    
.stageunits
  = render :partial => 'social_feed', :locals => { :band => @band, :recent_statuses => @recent_statuses, :twitter_username => @twitter_username, :currently_tweeting => @currently_tweeting }

  = render :partial => 'leaderboard', :locals => { :band => @band, :top_ten => @top_ten, :user_rank => @user_rank }

.stageright
  .buystock
    .sharesleft
      .shareslefttext
        Shares Left to
        %br
        Buy Today:
      .big_lightboard        
        = lightboard_text @band.available_shares_for_purchase.to_s, :digits => 5, :size => 'big'        
    .buy_bandname
      %a{ :href => buy_stock_url(@band.id, :lightbox => true), :class => 'lightbox', :fbwidth => '880', :fbheight => '300' }
        Buy Stock in
        = @band.name

  = render :partial => 'bands/next_stream', :locals => { :band => @band, :user => @user }

  = link_to 'ENTER SHARE CODE', redeem_code_url(:lightbox => true), :class => 'share-code-link lightbox'
.stagepadding


:javascript
  // Open the new user welcome lightbox if necessary
  if ( #{ @show_welcome_message ? true : false } ) {
    if (typeof(openWelcomeLightbox) == 'function') {
      jQuery(function() {
        // Open on page load
        openWelcomeLightbox();
      });
    }
  }

