%h1.orange_bar
  = @band.name
  
#profile-left-column
  -if @band.band_photo && @band.band_photo != ''
    = image_tag @band.band_photo, :id => 'profile-band-photo', :alt => @band.name
  .profile-top-ten-container
    = render :partial => 'top_ten_shareholders', :locals => { :top_ten => @top_ten, :user_rank => @user_rank, :band => @band }

  -if @band.admins.collect{ |user| user.id}.include? session[:user_id]
    #manage-band
      %p You are a manager for this band.
      =link_to_unless_current 'Manage', edit_band_path(:id => @band.id)
  

#profile-right-column
  .placeholder_box{ :style => 'height: 125px; width: 550px; border: 29px BurlyWood dotted;' }
    Grooveshark, etc.

  - unless @band_twitter_not_authorized
    .recent_TWETZ
      %h1 Recent Band Tweets
      - if @user_twitter_not_authorized
        = link_to 'Authorize your Twitter Account with MyBandStock', {:controller => 'twitter_api', :action => 'create_session', :redirect_from_twitter => @request_uri}
			
      - else
        %p 
          Currently authenticated with the Twitter account 
          = @twit_user.screen_name
          = link_to 'Authorize a different Twitter Account with MyBandStock', {:controller => 'twitter_api', :action => 'create_session', :redirect_from_twitter => @request_uri}
      = render :partial => "twitter_api/twitter_box", :locals => {:band_id => @band.id, :tweets => @band_tweets}

  .access-schedule
    = render :partial => 'bands/series_list', :locals => { :band => @band, :can_broadcast => false }
    -# = render :partial => 'live_stream_series/by_band', :locals => { :band => @band, :can_broadcast => @can_broadcast }

  = render :partial => 'twitter_statuses_widget', :locals => { :user => 'ampla', :max_tweets => 4, :interval => 4500, :loop => false, :width => 600, :height => 200 }
  = render :partial => 'share_codes/redeem_widget'

-# Attach accordion listeners to the series list
= javascript_include_tag 'series_list_accordion'

-# __commented__
  #remote-page-test
    %br
    %br
    #mbs-access-schedule-container{ :class => 'band=' + @band.short_name }
      &nbsp;
    %br
    %strong
      =link_to 'View access schedule', { :controller => 'live_stream_series', :action => 'by_band', :id => @band.id } , :class => 'lightbox'

