<h1>Listing recorded_videos</h1>

<table>
  <tr>
    <th>Public hostid</th>
    <th>Url</th>
    <th>Public</th>
    <th>Stream API Stream</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recorded_videos.each do |recorded_video| %>
  <tr>
    <td><%= recorded_video.public_hostid %></td>
    <td><%= recorded_video.url %></td>
    <td><%= recorded_video.public %></td>
    <td><%= recorded_video.streamapi_stream.title %></td>
    <td><%= link_to 'Show', recorded_video %></td>
    <td><%= link_to 'Edit', edit_recorded_video_path(recorded_video) %></td>
    <td><%= link_to 'Destroy', recorded_video, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recorded video', new_recorded_video_path %>
