<p>
  <b>Public hostid:</b>
  <%= @recorded_video.public_hostid %>
</p>

<p>
  <b>Url:</b>
  <%= @recorded_video.url %>
</p>

<p>
  <b>Public:</b>
  <%= @recorded_video.public %>
</p>

<p>
  <b>Stream API Title:</b>
  <%= @recorded_video.streamapi_stream.title %>
</p>

<%= link_to 'Edit', edit_recorded_video_path(@recorded_video) %> |
<%= link_to 'Back', recorded_videos_path %>
