.orange_bar
  .placement_edituserprofilepic
  .placement_edituserprofile
    = @band.name.upcase
    DASHBOARD
.navigation
.dashboard-main
  .stats-time-selector
    .stats-caption Time range
    = select_tag 'time_range', options_for_select(['all time'])

  .feature
    .stats-graph
    
  .stats-summary
    .one-third
      .stats-module.stats-new-fans{ :title => 'The number of new stockholders since the start of the specified time range.' }
        .stats-caption New fans
        .stats-value
          = @num_total_fans
    .one-third
      .stats-module.stats-total-fans{ :title => 'Total number of fans for this band.' }
        .stats-caption Total fans
        .stats-value
          = @num_total_fans
    .one-third
      .stats-module.stats-total-mentions{ :title => 'The number of times this band has been tweeted during the specified time range.' }
        .stats-caption Total mentions
        .stats-value
          = @num_total_mentions
  .stats-main
    .one-third
      .stats-module.top-fans
        %h3.stats-module-title Fans
        -if @top_fans
          %ol.user-list
            -@top_fans.each do |fan|
              - user = fan.user
              - location = user.display_location
              %li
                = link_to user.display_name, user, :target => '_blank', :class => "stats-user-name"
                -if location
                  %span.shareholder_aside
                    = " from #{ location }"
        .send-email
          %a{ :href => '#' } SEND EMAIL
    .one-third
      .stats-module.top-purchasers
        %h3.stats-module-title Influencers
        -if @top_influencers
          %ol.user-list
            -@top_influencers.each do |twitter_username|
              - link = 'http://twitter.com/'+ twitter_username
              %li
                = link_to twitter_username, link, :target => '_blank', :class => "stats-user-name stats-twitter-link"
          -# %a{ :href => '#' } SEND EMAIL
    .one-third
      .stats-module.top-purchasers
        %h3.stats-module-title Purchasers
        -if @top_purchasers
          %ol.user-list
            -@top_purchasers.each do |user|
              - location = user.display_location
              %li
                = link_to user.display_name, user, :target => '_blank', :class => "stats-user-name"
                -if location
                  %span.shareholder_aside
                    = " from #{ location }"
        .send-email
          %a{ :href => '#' } SEND EMAIL

:javascript
  
  var tweets_per_day_data = #{ @tweets_per_day_data || 'null' };
  
  jQuery(function() {
  
    // Set up tooltips
      jQuery('.stats-twitter-link').tooltip({ 
        delay: 0,
        track: true,
        showURL: false, 
        bodyHandler: function() { 
          return jQuery("<img/>").attr("src", '/images/twitter/t_logo-c.png'); 
        }
      });
      //jQuery('.stats-new-fans, .stats-total-fans, .stats-total-mentions').tooltip({
      //  delay: 700, 
      //  extraClass: "stats-tooltip"
      //});
    
    var plotOptions = {
      colors: ['#123658', '#000000'],
      series: {
        lines: { show: true, lineWidth: 2 },
        points: {
          show: true
        }
      },
      shadowSize: 5,
      grid: {
        hoverable: true,
        clickable: true,
        borderWidth: 1,
        backgroundColor: { colors: ["#CCF0FF", "#777"] }
      },
      legend: {
        show: false
      },
      xaxis: {
        mode: "time",
        timeformat: "%b %d",
        minTickSize: [1, "day"] 
      }
    };
    
    if (tweets_per_day_data) {
      jQuery.plot('.stats-graph', [ tweets_per_day_data ], plotOptions);
    } else {
      jQuery('.stats-graph').html('<div class="stats-chart-notification">No data to display</div>');
    }
  });
  
  // Flot chart example: http://weblogs.asp.net/rachit/archive/2010/01/26/jquery-flot-charts-with-time-series.aspx

-# __commented__
  start = Time.now.to_f
  TwitterCrawlerTracker.find_by_sql(
    'SELECT DISTINCT tt.twitter_user_id, tt.tweet_id from twitter_crawler_trackers tt JOIN users u ON u.twitter_user_id = tt.twitter_user_id order by twitter_followers').collect{|tt|
      {
        :twitter_user_id => tt.twitter_user_id,
        :display_name => User.display_name(tt.email, tt.first_name),
        :tweet_id => tt.tweet_id
      }
    }
  p (Time.now.to_f - start).to_s
  http://www.themomorohoax.com/2009/06/24/quickly-export-a-table-to-csv-in-the-rails-console-with-fastercsv

  http://pastie.org/201610

