<h1>Listing live_stream_series_permissions</h1>

<table>
  <tr>
    <th>Can view</th>
    <th>Can listen</th>
    <th>Can chat</th>
    <th>Stream quality level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @live_stream_series_permissions.each do |live_stream_series_permission| %>
  <tr>
    <td><%= live_stream_series_permission.can_view %></td>
    <td><%= live_stream_series_permission.can_listen %></td>
    <td><%= live_stream_series_permission.can_chat %></td>
    <td><%= live_stream_series_permission.stream_quality_level %></td>
    <td><%= link_to 'Show', live_stream_series_permission %></td>
    <td><%= link_to 'Edit', edit_live_stream_series_permission_path(live_stream_series_permission) %></td>
    <td><%= link_to 'Destroy', live_stream_series_permission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Live stream series permission', new_live_stream_series_permission_path %>
