<p>
  <b>Can view:</b>
  <%= @live_stream_series_permission.can_view %>
</p>

<p>
  <b>Can listen:</b>
  <%= @live_stream_series_permission.can_listen %>
</p>

<p>
  <b>Can chat:</b>
  <%= @live_stream_series_permission.can_chat %>
</p>

<p>
  <b>Stream quality level:</b>
  <%= @live_stream_series_permission.stream_quality_level %>
</p>


<%= link_to 'Edit', edit_live_stream_series_permission_path(@live_stream_series_permission) %> |
<%= link_to 'Back', live_stream_series_permissions_path %>
