.normal_login_sign_up
  .inner_content
    %h2 Or, do things the old-fashioned way.
    =form_for(:user, :url => {:controller => 'login', :action => :process_user_login}, :html => {:id => 'login_form'} ) do |f|
      %fieldset
        .fieldname_small
          = f.label 'email', 'email'
        .fieldbox_small
          = f.text_field :email
      %fieldset
        .fieldname_small
          = f.label 'password', 'password'
        .fieldbox_small
          = f.password_field :password
      .clear
        .remember_cookie
          =check_box_tag 'remember','1', false, {:id => 'checkbox_remember'}
          =label_tag 'checkbox_remember', 'Remember Me'
          %br
          =link_to 'Forgot password?', {:controller => 'login', :action => 'forgot_password', :lightbox => params[:lightbox]}, {:class => 'white_link' }
        .formbutton_left
          = submit_tag 'login'
        .cookies_reminder
          *Cookies must be enabled to login
    .clear
    .sign-up
      =link_to "Register the old-fashioned way", :controller => 'users', :action => 'clear_twitter_registration_session'
      