.error.center
  = flash[:error]
= form_for(@share_code, :url => {:action => 'redeem_post'} ) do |f|
  = f.error_messages

  .field
    = f.label :key, 'code'
    %br
    = f.text_field :key

  .field
    = f.label 'email'
    %br
    = text_field nil, 'email', :value => @email

    = hidden_field nil, 'lightbox', :value => 'true' if @external
    .actions
      = f.submit

