!!! 5
%html
  %head
    %title Access Schedule
    = stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag @external_css || 'access_schedule'
    = stylesheet_link_tag 'lightbox'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js"
    = javascript_include_tag 'rails'
    = javascript_include_tag 'jquery.fancybox-1.3.1.pack'
    = javascript_include_tag 'jquery.easing-1.3.pack'
    = javascript_include_tag 'access_schedule'
    = csrf_meta_tag
  %body
    %p.notice
      = notice
    %p.alert
      = alert
    = yield

