!!! 5
%html
  %head
    %title MyBandStock | The Music Revolution
    -# Stylesheets are declared explicitly here so we can establish an ordering (e.g., reset should be before style)
    = stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'jquery-theme/jquery-ui-1.8.2.custom'            
    = stylesheet_link_tag 'twitter'
    = stylesheet_link_tag 'fonts'
    = stylesheet_link_tag 'top_ten'
    = stylesheet_link_tag 'access_schedule'
    = stylesheet_link_tag 'style'
    = stylesheet_link_tag 'admin'
    = stylesheet_link_tag 'band_management'
    = stylesheet_link_tag 'lightbox'
    = stylesheet_link_tag 'jquery.autocomplete'
    = stylesheet_link_tag 'next_stream_widget'
    
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js'
    = javascript_include_tag 'jquery.fancybox-1.3.1.pack'
    = javascript_include_tag 'jquery.easing-1.3.pack'
    = javascript_include_tag 'jquery.jcarousel.min.js'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'access_schedule'
    = javascript_include_tag 'profile'
    = javascript_include_tag 'ping'
    = javascript_include_tag 'datepicker'
    = javascript_include_tag 'application'
    -if params[:controller] == 'application' && params[:action] == 'index'
      = javascript_include_tag 'intro_slideshow'

    = javascript_include_tag 'jquery.validate'
    = javascript_include_tag "jquery.autocomplete.js"
    = javascript_include_tag "jquery_rotator.js"
    = javascript_include_tag "ajax_search.js"
    
    = render :partial => 'common_partials/meta'
    = csrf_meta_tag
  %body{ :id => @body_id }
    #outer_wrap
      #wrap  
        #header
          -if session[:user_id]
            = render :partial => 'common_partials/logged_in', :locals => { :user => User.find(session[:user_id]) }
          -else
            = render :partial => 'common_partials/logged_out'

        -if flash[:logout]
          #logout_flash_notice{ :style => 'float: right; color: red; margin-right: 10px' }
            = flash[:logout]
        
        #content
                   
          -if flash[:error]
            .error
              = flash[:error]
          -if flash[:notice]
            .notice
              = flash[:notice]            
          = yield

        = render :partial => 'common_partials/footer'
      
    = render :partial => 'common_partials/google_tracker'

