!!! 5
%html
  %head
    %title
    -# Stylesheets are declared explicitly here so we can establish an ordering (e.g., reset should be before style)
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'fonts'
    = stylesheet_link_tag 'white-label'    
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js'

    = javascript_include_tag 'jquery.easing-1.3.pack'
    
    = render :partial => 'common_partials/meta'
    = csrf_meta_tag
  %body#mybandstock_body
    #mybandstock_white_label_page
      #branding
    
      -if flash[:error] || flash[:notice]
        #notifications                   
          -if flash[:error]
            .error
              = "#{flash[:error]}"
          -if flash[:notice]
            .notice
              = "#{flash[:notice]}"
      #content
        = yield      
    = render :partial => 'common_partials/google_tracker'
    = render :partial => 'common_partials/quantcast'
